.att{
    height: 380px;
    width: 450px;
}

.att:hover{
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 40px rgb(29, 28, 28);
}
.atimg{
    width: 451px;
    margin: 15px 0px 10px 25px;
}