.att{
    height: 380px;
    width: 450px;
}

.cdiv{
    margin-left: 25px;
    margin-bottom: 100px;
}
.att:hover{
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 40px rgb(29, 28, 28);
}
.atimg{
    width: 451px;
    float: left;
    margin: 15px 15px 10px 35px;
}