/* font-family: 'Akaya Telivigala', cursive;
font-family: 'Courgette', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Rajdhani', sans-serif; */
.att{
    height: 100%;
    width: 100%;
}

.att:hover{
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    box-shadow: 0 0 40px rgb(29, 28, 28);
}
.atimg{
    width: 29vw;
    height: 51vh;
    margin: 15px 0px 10px 25px;
}
.ahead{
    margin-top: 15px;
    font-family: 'Courgette', cursive;
}
.aname{
    font-family: 'Akaya Telivigala', cursive;
}