/* font-family: 'Akaya Telivigala', cursive;
font-family: 'Courgette', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Rajdhani', sans-serif; */
  .back{
    font-family: 'Akaya Telivigala', cursive;
  }

.flip-card {
    width: 29vw;
    height: 47vh;
    perspective: 1000px;
    transition: 0.6s;
    margin: 10px 6px 10px 30px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
 
  .rimg{
    width:100%;
    height:100%; 
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
    background-color: white;
    padding-top: 15px;
  }

  .jai {
    margin-top: 40px;
    text-align: left;
    margin-left: 5px;
  }
 
  
  