/* font-family: 'Akaya Telivigala', cursive;
font-family: 'Courgette', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Rajdhani', sans-serif; */
.simg {
    width: 27vw;
    height: 45vh;
    
}
.serv{
    font-family: 'Akaya Telivigala', cursive
}
.scard {
    float:left;
    margin: 0px 0px 0px 20px;
    transition: all .2s ease-in-out;
}
.top {
    margin-top: 20px;
    font-family: 'Courgette', cursive
}

.scard:hover { 
    transform: scale(0.9); 
}
