/* font-family: 'Akaya Telivigala', cursive;
font-family: 'Courgette', cursive;
font-family: 'Courier Prime', monospace;
font-family: 'Rajdhani', sans-serif; */
.simg {
    width: 27vw;
    height: 45vh;
    
}
.serv{
    font-family: 'Akaya Telivigala', cursive
}
.scard {
    float:left;
    margin: 0px 0px 0px 20px;
    transition: all .2s ease-in-out;
}
.cond{
    font-size: x-small;
    margin: 0;
    margin-right: 45px;
    text-align: right;
}
.scard:hover { 
    transform: scale(0.9); 
}
