body {
    overflow-x: hidden;
    background-color: #f9f4d7;
  }
  .line{
    display: block;
    background: rgb(99, 96, 96);
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-style: inset;
    border-width: 1px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 12px rgb(97, 95, 95);
  }
  .head{
    font-family: 'Courgette', cursive;
    font-size: 3.5em;
    margin-top: 25px;
    text-shadow: 2px 2px rgb(180, 175, 245);
  }